Chroma_Sample/Chroma_Sample.sln
Chroma_Sample/.vs/
Chroma_Sample/Intermediate/
Chroma_Sample/Plugins/ChromaSDKPlugin/Binaries/
Chroma_Sample/Plugins/ChromaSDKPlugin/Intermediate/
Chroma_Sample/Saved/Backup/
Chroma_Sample/Saved/Autosaves/
Chroma_Sample/Saved/Config/CrashReportClient/
Chroma_Sample/Saved/Cooked/
Chroma_Sample/Saved/StagedBuilds/
Chroma_Sample/Saved/XboxOne/
Chroma_Sample/Saved/Temp/
Chroma_Sample/Saved/Logs/
Chroma_Sample/Binaries/
Chroma_Sample/Build/
Chroma_Sample/DerivedDataCache/
Chroma_Sample/Saved/
Chroma_Sample/.vsconfig
